/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Grape+Nuts&family=Lora:ital,wght@0,400;0,500;0,600;1,600&family=Roboto+Slab:wght@700&family=Smooch&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 5.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --bg-color: hsl(220, 18%, 78%);
  --bg-color-light: hsl(220, 18%, 86%);
  --title-color: hsl(220, 8%, 10%);
  --text-color: hsl(220, 4%, 32%);
  --text-color-light: hsl(220, 4%, 55%);
  --body-color: hsl(220, 18%, 99%);
  --container-color: hsl(220, 18%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Lora', serif;
  --body-font1: 'Oxygen', sans-serif;

  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.9rem;
  --h2-font-size: 1.8rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --gradient-background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: rgba(247, 80, 12, 0.4);
  --color-danger-variant: #6c63ff;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #7028E4;
  --color-bg1: #2e3260;
  --color-bg2: #424899;
  --box-1: linear-gradient(#FF0844, #FFB199);
  --box-2: linear-gradient(#7028E4, #E5B2CA);
  --box-3: linear-gradient(#00C6FB, #005BEA);
  --box-4: linear-gradient(#F6D365, #FDA085);

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%: --transition: all .3s ease;
}

/* Responsive typography */
@media screen and (min-width: 1124px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s;
  /*For animation dark mode*/
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}


h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

#fontss {
  font-size: 23px;
  font-weight: 400;
}



img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --bg-color: hsl(220, 18%, 13%);
  --bg-color-light: hsl(220, 18%, 23%);
  --title-color: hsl(220, 8%, 95%);
  --text-color: hsl(220, 4%, 65%);
  --body-color: hsl(220, 18%, 18%);
  --container-color: hsl(220, 18%, 21%);
}

/*========== Button Dark/Light ==========*/
.change-theme {
  color: var(--title-color);
  font-size: 1.125rem;
  cursor: pointer;
}

/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/
.dark-theme .scroll-header {
  box-shadow: 0 2px 8px rgba(132, 10, 181, 0.3);
}

.dark-theme .nav__menu {
  background-color: var(--container-color);
}

.dark-theme .nav__menu,
.dark-theme .scrollup {
  box-shadow: 0 4px 8px hsla(220, 18%, 8%, .3);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(220, 18%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(220, 18%, 25%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(220, 18%, 35%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 100vh;
  /* max-height: max-content; */
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 3rem;
}

.main {
  overflow: hidden;
  /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: .4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);

}

@media screen and (max-width: 1024px) {
  .nav__menu {
    position: fixed;
    bottom: 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 4px 12px hsla(220, 18%, 40%, .15);
    width: 99%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.24rem 2.8rem;
    border-radius: .5rem;
    transition: .4s;
    /*For animation dark mode*/
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__link {
    color: var(--text-color-light);
    font-weight: var(--font-medium);
    display: grid;
    justify-items: center;
    row-gap: .26rem;
  }

  .nav__link i {
    font-size: 1.25rem;
  }

  .nav__link span {
    font-size: .688rem;
  }

}

/* Sign - up Login  */

/* Change background header */


.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(220, 4%, 15%, .1);
}

/* Active link */

.active-link {
  color: var(--title-color);
}

/*=============== HOME ===============*/
.home {
  background-color: var(--bg-color-light);
  /* background-image: url('/assets/img/bg.webp'); */
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
  transition: .4s;
  /*For animation dark mode*/
}

.home__container {
  padding: 4rem 0 1rem;
  row-gap: 8.5rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: 400;
}

.home__description {
  color: var(--title-color);
  margin: 1rem 0 2rem;
}

.home__title,
.home__description {
  line-height: 140%;
}

.home__images {
  position: relative;
  width: 310px;
  justify-self: center;
}

.home__images img:nth-child(1) {
  width: 224px;
  position: absolute;
  right: -1.5rem;
  top: -9.5rem;
}

.home__images img:nth-child(2) {
  width: 180px;
  margin-left: .5rem;
  position: relative;
}



/*=============== BUTTON ===============*/

.button__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.button__link i {
  font-size: 1rem;
  transition: .3s;
}

.button__link:hover i {
  transform: translateX(.25rem);
}

/*=============== NEW ===============*/

.new__container {
  row-gap: 2.5rem;
  padding-bottom: 1.5rem;
}

.new__card {
  justify-self: center;
}

.new__img {
  width: 270px;
  margin-bottom: 1rem;
}

.new__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--title-color);
  padding-right: .75rem;
}

.new__link i {
  font-size: 1.25rem;
  transition: .3s;
}

.new__title {
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
}

.new__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.new__link:hover i {
  transform: translateX(.25rem);
}

/* ======================= hELPING WATER IN INDIA ======================= */

.helping-water {
  margin: 10px;
  padding: 10px;
}

.helping-water .water-1 {
  display: flex;
  margin: 50px;
}

.helping-water .water-1 .about-water img {
  height: 100px;
  width: 195px;
}

/* ======================= hELPING WATER IN INDIA ======================= */

/*=============== COLLECTION ===============*/

.collection {
  background-color: var(--bg-color-light);
  overflow: hidden;
  transition: .4s;
  /*For animation dark mode*/
}


.counting {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(270px, 2fr));
  gap: 0px;
  margin: 50px;
  padding: 20px;
}

.counting__container {
  text-align: center;
  margin: 34px;
  cursor: pointer;
  /* box-shadow: 0px 8px 14px rgba(58, 53, 52, 0.4); */
  height: 240px;
  width: 100%;
}

.counting__container:hover {
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(1.1);
  transition: all .1s ease-out;
}

#icon {
  font-size: 84px;
  padding: 40px;
}

.inside {
  display: grid;
  margin-top: -27px;
  margin-bottom: 23px;
}

.inside p {
  font-size: 21px;
}

.counting .box-1 {
  /* background: var(--box-1); */
  border-radius: 14px;
}

.counting .box-2 {

  /* background: var(--box-2); */
  border-radius: 14px;
}

.counting .box-3 {

  /* background: var(--box-3); */
  border-radius: 14px;
}

.counting .box-4 {

  /* background: var(--box-4); */
  /* box-shadow: 0px 8px 14px rgba(58, 53, 52, 0.4); */
  border-radius: 14px;
}

.paragraph {
  font-family: var(--body-font1);
  font-size: 18px;
  margin-left: 200px;
  margin-right: 200px;
}

/* ============== THIS IS FACE OF CLEAN WATER IN INDAI ================ */


/*=============== Water Specification ===============*/
.our-works {
  margin-top: 12px;
  display: flex;
  justify-content: space-around;
}

.counting__container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
}

/* Swiper class */

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

.swiper-button-prev,
.swiper-button-next {
  top: initial;
  bottom: 0;
  width: initial;
  height: initial;
  font-size: 1.5rem;
  color: var(--title-color);
}

.swiper-button-prev {
  left: calc(50% - 2rem);
}

.swiper-button-next {
  right: calc(50% - 2rem);
}

/*=============== BRANDS ===============*/

.search-map {
  /* background-color: #005BEA; */
  height: 100;
  width: 100;
}

.search-box {
  display: flex;
  justify-content: space-around;
  background-color: #005BEA;
}

.search-map .container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 400px;
  background-color: #28312b;
  color: #c6daf4;
  font-size: 58px;
  font-weight: 200;
  line-height: 65px;
  margin: 0 auto;
  padding: 89px;
  max-width: 100%;
  text-align: center;
}

.search-map .container .subheader {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 88px;
}

.search-map .container .search input {
  font-size: 39px;
  padding: 21px;
  width: 450px;
  border: 4px solid white;
  border-radius: 15px;
  text-align: center;
}

.search-map .container .search-box {
  background-color: #5cde78;
  display: inline-block;
  font-size: 26px;
  padding: 3px;
  border-radius: 14px;
  width: 146px;
  cursor: pointer;
}

/* ============= Check Water Portabel ==================== */

.Water-portable {
  padding: 12px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.Water-portable .portable {
  margin-top: 36px;
  justify-content: center;
}

.Water-portable .portable .form-1 {
  margin-top: 36px;
  display: flex;
  align-items: center;
  /* width: 405px; */
  justify-content: center;
}

.parameter-check .box-1{
  background: var(--box-1);
  box-shadow: 0px 8px 14px rgba(58, 53, 52, 0.4);
}
.parameter-check .box-2{
  background: var(--box-2);
  box-shadow: 0px 8px 14px rgba(58, 53, 52, 0.4);
}
.parameter-check .box-3{
  background: var(--box-3);
  box-shadow: 0px 8px 14px rgba(58, 53, 52, 0.4);
}
.parameter-check .box-4{
  background: var(--box-4);
  box-shadow: 0px 8px 14px rgba(58, 53, 52, 0.4);
}

/* ================= Parameter =============== */

.faqs__container {
  display: grid;
  /* justify-content: ; */
  grid-template-columns: 2fr 2fr;
  gap: 1rem;
  box-shadow: 12px 23px 890px rgba(12, 2, 0, 0.4);
  margin: 66px;
}

.faq {
  display: flex;
  padding: 2rem;
  align-items: center;
  gap: 1.4rem;
  height: fit-content;
  /* background: var(--color-primary); */
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  cursor: pointer;
}

.faq h4 {
  font-size: 1rem;
  line-height: 2.2;
}

.faq__icon {
  align-self: flex-start;
  font-size: 1.2rem;
}

.faq p {
  margin-top: 0.8rem;
  display: none;
}

.faq.open p {
  display: block;
}

.fs-1 {
  text-align: center;
  font-size: 24px;
  margin-top: 4rem;
}

/* ====================== Solution ========================== */
.solution .solution-pages {
  text-align: center;
}

.sol-img {
  position: relative;
  opacity: 0.9;
}

.sol-head {
  position: absolute;
  right: 20%;
  /* top:50%; */
  /* bottom: 50%; */
  color: #ecf0f5;
  font-size: bold;
  margin-top: 35vh;
  text-align: center;
  font-size: 85px;
}

.solution .x .xx .xxx img{
  width: 95%;
}
.solution .xxxx {
  width: 119%;
}
.solution .x .xx {
  display: flex;
  max-width: 1100px;
  min-width: 0px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* =========================== Predication Water ====================== */

.predication-water{
  display: flex;
  background-color: #005BEA;
  width: 1100px;
  margin: auto;
  padding: 20px;
  height: auto;
}

/*=============== FOOTER ===============*/

.footer__container {
  row-gap: 3rem;
}

.footer__logo {
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  display: inline-block;
  margin-bottom: .75rem;
}

.footer__content,
.footer__links {
  display: grid;
}

.footer__content {
  grid-template-columns: repeat(2, max-content);
  gap: 3.5rem 3rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1.25rem;
}

.footer__links {
  row-gap: .75rem;
}

.footer__link,
.footer__information {
  font-size: var(--small-font-size);
}

.footer__link {
  color: var(--text-color);
  transition: .3s;
}

.footer__link:hover {
  text-decoration: underline;
  color: var(--title-color);
}

.footer__social {
  display: flex;
  column-gap: .5rem;
}

.footer__social-link {
  display: inline-flex;
  color: var(--title-color);
  padding: .4rem;
  background-color: var(--container-color);
  font-size: 1.25rem;
  transition: background-color .3s;
}

.footer__social-link:hover {
  background-color: var(--bg-color-light);
}

.footer__info {
  margin-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .75rem;
}

.footer__copy,
.footer__privacy {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(220, 8%, 76%);
}

::-webkit-slider-thumb {
  background-color: hsl(200, 8%, 64%);
  border-radius: .5rem;
}

::-webkit-slider-thumb:hover {
  background-color: hsl(200, 8%, 54%);
  border-radius: .5rem;
}

/*=============== SCROLL UP ===============*/


.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--container-color);
  box-shadow: 0 8px 12px hsla(220, 18%, 45%, .15);
  display: inline-flex;
  padding: .35rem;
  color: var(--title-color);
  font-size: 1.1rem;
  z-index: var(--z-tooltip);
  transition: .3s;
}

.scrollup:hover {
  transform: translateY(-.25rem);
}

/* Show Scroll Up*/

.show-scroll {
  bottom: 7.5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */

/* For large devices */

@media screen and (min-width: 1023px) {
  .section {
    padding: 7rem 0 1rem;
  }

  .section__title {
    margin-bottom: 4rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__menu {
    width: initial;
    margin-left: auto;
  }

  .nav__list {
    display: flex;
    column-gap: 3rem;
  }

  .nav__link {
    color: var(--text-color);
    font-weight: var(--font-medium);
    transition: .3s;
  }

  .nav__link i {
    display: none;
  }

  .nav__link:hover {
    color: var(--title-color);
  }

  .active-link {
    color: var(--title-color);
    text-decoration: underline;
  }

  .change-theme {
    margin-left: 3rem;
    color: var(--text-color);
  }

  .dark-theme .nav__menu {
    background-color: transparent;
    box-shadow: none;
  }

  .products__container {
    width: 954px;
  }

  .footer__content {
    grid-template-columns: repeat(4, max-content);
    column-gap: 5.5rem;
  }

  .footer__link {
    font-size: var(--normal-font-size);
  }

  .footer__info {
    padding-bottom: 2rem;
    row-gap: 1rem;
  }
}

@media screen and (min-width: 1054px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1154px) {
  .home__container {
    padding: 10rem 0 3rem;
    column-gap: 0;
  }

  .home__images {
    width: 500px;
    margin-top: 8rem;
    transform: translate(-1rem);

  }

  .home__images img:nth-child(1) {
    width: 345px;
    top: -14.5rem;
  }

  .home__images img:nth-child(2) {
    width: 245px;
  }

  .new__container {
    grid-template-columns: repeat(3, max-content);
    padding-bottom: 4.5rem;
    gap: 4.5rem;
  }

  .new__img {
    margin-bottom: 1.25rem;
  }

  .new__title {
    font-size: var(--h3-font-size);
  }

  .collection__container {
    height: 760px;
    margin-bottom: 2rem;
  }

  .collection__explore:nth-child(1) {
    grid-template-columns: max-content 330px;
    margin-left: 10rem;
  }

  .collection__explore:nth-child(2) {
    grid-template-columns: 330px max-content;
    margin-right: 10rem;
  }

  .collection__explore {
    column-gap: 5rem;
  }

  .products__container {
    padding-bottom: 7rem;
  }

  .brand__container {
    column-gap: 5.5rem;
  }

  .brand__img {
    width: 140px;
  }

  .scrollup {
    right: 3rem;
  }

  .show-scroll {
    bottom: 3rem;
  }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.3;
  }
}

/* For 4K resolutions (3840 x 2160, 4096 x 2160) */
@media screen and (min-width: 3348px) {
  body {
    zoom: 1.3;
  }
}